version: '3'

services:  
   redis:
    image: "redis:alpine"
    command: redis-server 
    environment:
     - REDIS_REPLICATION_MODE=master
    ports:
     - "6379:6379"

   erua-issuer:
    image: endimion13/erua-issuer:0.0.1a
    environment:
      NODE_ENV: "production"
      # for SSL: KEY_PATH:
      # for SSL: CERT_PATH:
      # for SSL: CERT_PASS:
      ENDPOINT: "http://localhost"
      PORT: "5030"
      REDIS: "redis"
      ISSUER_URL: "https://dss.aegean.gr/auth/realms/erua-issuer"
      OIDC_REDIRECT_URI: "http://localhost:5030/login/callback"
      USER_INFO: "dss1.aegean.gr"
      USER_INFO_PORT: "8180"
      BASE_PATH: 'erua-issuer'
    ports:
      - 5030:5030
   
   nginx_rproxy:
    image: nginx:latest
    container_name: nginx_rproxy
    restart: unless-stopped
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./www:/data/www
      - ./certs:/etc/certs
    ports:
      - 80:80



